<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Simple Data Catalog{% endblock %}</title>
    <link rel="stylesheet" href="/static/flowbite.css">
    <style>
        .custom-container {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body class="flex flex-col min-h-screen mb-10">
    {% include "navigation.html" %}
    <div class="flex-grow h-full">
        <div class="custom-container">
        {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
