<footer id='footer' class="flex bottom-0 left-0 w-full mt-10 bg-gray-400 text-white py-6">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center">
            <div class="flex space-x-5 justify-between items-center">
                <!-- License information -->
                <p style="font-size: 12px">&copy; 2024 Simple Data Catalog is distributed according to <a href="https://github.com/Sonofendor/SimpleDataCatalog?tab=MIT-1-ov-file" class="text-blue-600 dark:text-blue-500 hover:underline">MIT License</a></p>
                <p style="font-size: 12px">Built with <a href="https://fastapi.tiangolo.com/" class="text-blue-600 dark:text-blue-500 hover:underline" target="_blank" rel="noopener noreferrer" class="text-blue-300 hover:text-blue-400">FastAPI</a> and <a href="https://flowbite.com/" class="text-blue-600 dark:text-blue-500 hover:underline" target="_blank" rel="noopener noreferrer" class="text-blue-300 hover:text-blue-400">Flowbite</a></p>
                <p style="font-size: 12px"><a href="https://github.com/Sonofendor/SimpleDataCatalog" target="_blank" rel="noopener noreferrer" class="text-blue-300 hover:text-blue-400">View Source Code</a></p>
            </div>
        </div>
    </div>
</footer>