<nav class="flex-col w-full z-20 top-0 start-0 bg-blue-400 mb-10">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 flex justify-between items-center h-16">
        <div class="flex-shrink-0 h-full">
             <a href="/"><img class="h-full" src="/static/logo.svg" alt="Logo"></a>
        </div>
        <div class="flex space-x-4">
            <a href="/catalog/" class="font-mono text-white px-3 py-2 rounded-md text-xl font-medium">Catalog</a>
            <a href="/search" class="font-mono text-white px-3 py-2 rounded-md text-xl font-medium">Search</a>
            <a href="https://github.com/Sonofendor/SimpleDataCatalog" class="font-mono text-white px-3 py-2 rounded-md text-xl font-medium" target="_blank">Docs</a>
        </div>
    </div>
</nav>