{% extends "base.html" %}

{% block title %}Simple Data Catalog - {{ schema_name }}{% endblock %}

{% block content %}
    <h1 class="font-mono text-3xl font-bold mb-4 text-center">Schema Details - {{ schema_name }}</h1>

    <form id="deleteForm" method="POST" action="/catalog/{{ schema.database_name }}/{{ schema.database_schema_name }}/delete" onsubmit="return confirm('Are you sure you want to delete this schema?');">
        <div class="flex flex-col items-center">
        <button type="submit" class="text-white bg-red-500 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Delete Schema</button>
        </div>
    </form>

    <br>

    <h2 class="font-mono text-2xl font-bold mb-4 text-center">Schema Properties</h2>
    <form id="editForm" class="max-w-sm mx-auto" method="POST" action="/catalog/{{ schema.database_name }}/{{ schema.database_schema_name }}">
        <label for="database_name" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Database Name:</label>
        <span id="database_name"><a href="/catalog/{{ schema.database_name }}">{{ schema.database_name }}</a></span><br><br>

        <label for="schema_name" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Schema Name:</label>
        <span id="schema_name">{{ schema.database_schema_name }}</span><br><br>

        <label for="database_schema_description" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Schema Description:</label>
        <textarea id="database_schema_description" name="database_schema_description" rows="4" cols="50">{{ schema.database_schema_description }}</textarea><br><br>
        <div class="flex flex-col w-full items-center">
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Update Schema</button>
        </div>
    </form>

    <br>

    <h2 class="font-mono text-2xl font-bold mb-4 text-center">Schema Tables</h2>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" border="1">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">Table Name</th>
                <th scope="col" class="px-6 py-3">Table Description</th>
            </tr>
        </thead>
        <tbody>
            {% for table in tables %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td scope="row" class="px-6 py-4 font-medium text-blue-300 whitespace-nowrap dark:text-white"><a href="/catalog/{{ table.database_name }}/{{ table.database_schema_name }}/{{ table.table_name }}">{{ table.table_name }}</a></td>
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ table.table_description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}