{% extends "base.html" %}

{% block title %}Simple Data Catalog - {{ table.table_name }}{% endblock %}

{% block content %}
    <h1 class="font-mono text-3xl font-bold mb-4 text-center">Table Details - {{ table.table_name }}</h1>

    <h2 class="font-mono text-2xl font-bold mb-4 text-center">Table Properties</h2>
    <form id="editForm" method="POST" action="/catalog/{{ table.database_name }}/{{ table.database_schema_name }}/{{ table.table_name }}">
        <label for="database_name">Database Name:</label>
        <span id="database_name"><a href="/catalog/{{ table.database_name }}">{{ table.database_name }}</a></span><br><br>

        <label for="schema_name">Schema Name:</label>
        <span id="schema_name"><a href="/catalog/{{ table.database_name }}/{{ table.database_schema_name }}">{{ table.database_schema_name }}</a></span><br><br>

        <label for="table_name">Table Name:</label>
        <span id="table_name">{{ table.table_name }}</span><br><br>

        <label for="table_description">Table Description:</label><br><br>
        <textarea id="table_description" name="table_description" rows="4" cols="50">{{ table.table_description }}</textarea><br><br>

        <button type="submit">Submit</button>
    </form>

    <br>

    <form id="deleteForm" method="POST" action="/catalog/{{ table.database_name }}/{{ table.database_schema_name }}/{{ table.table_name }}/delete" onsubmit="return confirm('Are you sure you want to delete this table?');">
        <button type="submit">Delete Table</button>
    </form>

    <h2 class="font-mono text-2xl font-bold mb-4 text-center">Table Fields</h2>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" border="1">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">Field Name</th>
                <th scope="col" class="px-6 py-3">Field Description</th>
            </tr>
        </thead>
        <tbody>
            {% for field in fields %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td scope="row" class="px-6 py-4 font-medium text-blue-300 whitespace-nowrap dark:text-white"><a href="/catalog/{{ field.database_name }}/{{ field.database_schema_name }}/{{ field.table_name }}/{{ field.field_name }}">{{ field.field_name }}</a></td>
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ field.field_description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
